.carrito__main {
  padding: 100px 5% 0px;
}
.carrito__main h2 {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}
.carrito__container {
  display: flex;
  justify-content: space-between;
}
.carrito__productos {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.carrito__producto {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-right: 20px;

  padding: 20px;
  display: flex;

  height: 150px;
}
.carrito__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.carrito__img {
  width: 100px;
}
.carrito__img img {
  width: 100%;
}
.carrito__totales {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  padding: 20px;
  height: 250px;
  background-color: #f5f5f5;
}
.carrito__totales h3 {
  font-size: 30px;
}
.carrito__col {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  gap: 15px;
}
.carrito__totales-sub,
.carrito__totales-to {
  display: flex;
  justify-content: space-between;
}
.carrito__totales-to {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 1000;
}
.carrito__btn {
  padding: 10px;
  background-color: #ff3c6d;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 1000;
  letter-spacing: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #ff3c6d, $amount: 10);
    transform: scale(1.05);
  }
}
.fa-times-circle {
  color: $rosa4;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    color: darken($color: $rosa4, $amount: 10);
  }
}
.carrito__seguir_comprando {
  font-size: 20px;
  letter-spacing: 2px;
  color: $rosa4;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}
