//si cambio el height aca cambiar el margin top del slider

.nav__main {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
.nav__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0% 5%;
  background-color: white;
  //box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

/* .nav__left,
.nav__center,
.nav__right,
.nav__menu-icon {
  flex: 1;
} */

.nav__left h1 a {
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Shalimar", cursive;
}

.nav__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__right span {
  margin-left: 1.25rem;
}
.fa-user-circle,
.fa-shopping-cart {
  font-size: 1.25rem;
  color: #444;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav__menu li {
  display: inline-block;
  margin-right: 1.25rem;
}
.nav__menu li a {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $rosa3;
  }
}
.nav__icon-carrito{
  color: #444;
}
//memu hamburgesa////////////////////////////////////////////////////



.nav__menu-icon {
  display: none;
}

@media (max-width: 790px) {
  .nav__right span {
    margin-left: 0rem;
  
  }
  
  .nav__menu-icon {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
    
    color: #444;
  }
  .fa-shopping-cart{
    font-size: 1.4rem;
  }
  .nav__menu-icon .fa-times {
    position: fixed;
    top: 30px;
    left: 5%;
    color: #444;
    cursor: pointer;
    z-index: 10;
  }

  .nav__center,
  .nav__icon-login {
    display: none;
  }
  
}

