.navbarSimple__main{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px 80px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  
}
.navbarSimple__main h1 a{
  color: #000;
  text-decoration: none;
  font-size: 40px;
  font-family: "Shalimar", cursive;
}