


.slider__frame {
	width: 100%;
    height: 100vp;
	/* margin:50px auto 0; */
	overflow: hidden;
	margin-top: 80px;
}

.slider__frame ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider__frame li {
	width: 100%;
	list-style: none;
}

.slider__frame img {
	width: 100%;
	
	
}

@keyframes slide {
	0% {margin-left: 0;}
	33% {margin-left: 0;}
	
	33% {margin-left: -100%;}
	66% {margin-left: -100%;}
	
	66% {margin-left: -200%;}
	100% {margin-left: -200%;}
	
	
}
