* {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
 
}
body{
  font-size: 16px;
}
.hide-scrollbar
{
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

