/* // Colors
$primary: #2c3338;
$dark-grey: #30343a;
$light-grey: #3b4148;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2; */

$rosa1: #fef4f3;
$rosa2: #d9bbbb;
$rosa3: #cc938c;
$rosa4: #ff3c6d;

$gris1: #7f7f8e;
$gris2: #56565e;